body{
    margin: 0;
}
.blue{
    background:blue;
    height: 100px;
    margin-bottom: 25px;
}

.gold{
    background-color:gold;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.black{
    background:black;
    height:100px;
}